P{
    text-align: justify;
    padding-left: 40px;
    padding-right: 30px;
    padding-top: 2px;
    padding-bottom: 0px;
}

Pre.query {
    text-align: left;
    
    margin-left: 4%;
    margin-right: 15%;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: monospace;
    border: 2px solid #00a8e1;
    padding: 10px;
    
}

DIV {
    
}

HR {
    
}